﻿@model TP2.Models.Election
@{
    ViewData["Title"] = "About";
    var list = ViewData["list_candidat"] as List<string>;
}

<div class="container">
     <form  class="form-horizontal" role="form" method="POST">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Class Leader Form Ex 3</h2>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                
                    <label for="candidat">Candidat</label>
                    <select  asp-for="candidat" class="form-control" id="candidat">
                    @foreach( var item in list )
                    {
                        <option>@item</option>
                    }
                    </select>
      
                    <small id="emailHelp" class="form-text text-muted">
                        <span asp-validation-for="candidat" class="text-danger"></span>
                    </small>
                  </div>

            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groups" id="group1" value="group1" checked>
                    <label class="form-check-label" for="group1">
                        Groupe 1 
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groups" id="group2" value="group2">
                    <label class="form-check-label" for="group2">
                        Groupe 2
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groups" id="group3" value="group3">
                    <label class="form-check-label" for="group3">
                        Groupe 3 
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groups" id="group4" value="group4">
                    <label class="form-check-label" for="group4">
                        Groupe 4 
                    </label>
                </div>

                <small id="emailHelp" class="form-text text-muted">
                    <span class="text-danger"></span>
                </small>
                </div>
            
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                  <label for="classe">Classe</label>
                  <input  
                    class="form-control" 
                    id="classe" 
                    asp-for="classe"
                    placeholder="GI2...">
                <small id="emailHelp" class="form-text text-muted">
                    <span asp-validation-for="classe" class="text-danger"></span>
                </small>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                  <label for="exampleInputPassword1">Email</label>
                  <input 
                    class="form-control" 
                    id="email" 
                    asp-for="email"
                    placeholder="id@mail.com">
                <small id="emailHelp" class="form-text text-muted">
                    <span asp-validation-for="email" class="text-danger"></span>
                </small>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
                        
          </form>
</div>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}