@using Microsoft.AspNetCore.Http
@model List<User>
@{
    
    ViewData["Title"] = "Hello Page";
    
}


<div class="container">

    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <h5 class="alert-heading">You are connected ! You're welcome to loginFormMvc 1</h5>
        <p>This my first application with asp mvc, hope you'll like it, you can connect, 
            go offline and create a count, this is a great application.
        </p>
        <hr>
        <p class="mb-0">Whenever you need a help, you can contact me on  @Context.Session.GetString("_Mail") </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>

    <div class="row">

            <h5>Hello @Context.Session.GetString("_Mail") </h5>

    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Email</th>
            </tr>
        </thead>


        <tbody>

            @foreach( var item in Model )
            {   
                <tr>
                    <td>@item.Mail</td>
                </tr>
            }
        </tbody>
   </table>
</div>
