﻿@model TP2.Models.Form2
@{
    ViewData["Title"] = "Home Page";

    
}

<div class="container">
    <form class="form-horizontal" role="form" asp-controller="Home" asp-action="Connect" method="POST" >
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Please Login to loginFormMvc1 Ex 1 </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">E-Mail Address</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="you@example.com" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <i class="fa fa-close"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                    <!-- Put password error message here -->    
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="padding-top: .35rem">
                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label">
                        <input class="form-check-input" name="remember"
                               type="checkbox" >
                        <span style="padding-bottom: .15rem">Remember me</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
            </div>
        </div>
    </form>

    <br />
    <hr>
    <br />

     <form  class="form-horizontal" role="form" method="post">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Validator Of Form Ex 2 </h2>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                
                    <label for="textinput">Text box 1 </label>
                    <input 
                      asp-for="Text1" 
                      class="form-control"  
                      id="text1" 
                      placeholder="tape any text...">
      
                    <small id="emailHelp" class="form-text text-muted">
                        <span asp-validation-for="Text1" class="text-danger"></span>
                      </small>
                  </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                
                  <label for="exampleInputPassword1">Text box 2</label>
                  <input 
                    asp-for="Text2" 
                    class="form-control" 
                    id="text2" 
                     data-val="true" 
                     data-val-required="The ReleaseDate field is required."
                    placeholder="tape any text... ">
                  <small id="emailHelp" class="form-text text-muted">
                      <span asp-validation-for="Text2" class="text-danger"></span>
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            
            </div>
                        
          </form>
</div>


@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}